@import '../../styles/vars';

.button {
    display: inline-block;
    padding: 10px;

    cursor: pointer;
    transition: all .2s;

    border: none;
    border-radius: 5px;

    font-family: inherit;
    font-size: 14px;
    text-align: center;
}

.primary {
    color: $cWhite;

    background-color: $cPrimary;

    &:hover {
        background-color: $cHoverPrimary;
    }
}

.ghost {
    color: $cBlack;

    border: 1px solid $cLightGrey;
    background-color: none;

    &:hover {
        color: $cWhite;

        background-color: $cPrimary;
    }
}

.arrow {
    display: inline-block;
    margin-left: 10px;

    font-size: 0;
    color: transparent;
}

.down {
    transform: rotate(90deg);
    transition: all .2s;
}
